<div class="col-sm-2" id="productManage">
    <a href="#" class="list-group-item active">页面设置</a>

    <a href="/developer/pageSetting" class="list-group-item">
        首页轮播图</a>
    <a href="/developer/pageSetting/pageProduct" class="list-group-item">
        产品页面img图</a>
</div>