<div class="col-sm-2" id="orderManage">
    <a href="#" class="list-group-item active">订单管理</a>

    <a href="javascript:void (0)" class="list-group-item">
        全部</a>
    <a href="javascript:void (0)" class="list-group-item">
        待发货
    </a>
    <a href="javascript:void (0)" class="list-group-item">
        运输中
    </a>
    <a href="javascript:void (0)" class="list-group-item">
        已签收
    </a>
    <a href="javascript:void (0)" class="list-group-item">
        已关闭
    </a>
</div>