<%- include header/nav.ejs %>

<style>
    .imgboxs{
        list-style-type: none;
        float: left;
        margin: 10px;
    }
    #addbtn{
        display: block;
        margin: 40px;

    }
    .imgbox{
        width: 500px;
        position: relative;
    }
    .delbtn{
        position: absolute;
        /*width: 40px;*/
        /*height: 40px;*/
        right: 2px;
        top: 0;
        display: none;
        font-size: 40px;
        line-height: 40px;
        border-radius:50%;
        background-color: #e5e5e5;
        cursor: pointer;

    }
    .delbtn:hover{
        background-color: silver;
    }
    .imgbox:hover .delbtn{
        display: block;
    }
</style>

<div class="col-sm-10">
    <ol class="breadcrumb">
        <li class="active">商品管理</li>
        <li class="active">产品页面</li>
    </ol>

    <button id="addbtn">添加图片</button>
    <% if(list){%>
        <ul class="ul-imgboxs">
            <% for(let i =0; i<list.length;i++){ %>
                <li class="imgboxs">
                    <div class="imgbox">
                        <img  src="<%= list[i].path %>"  width="500" alt="">
                        <div class="delbtn iconfont icon-shanchu" data-value="<%= list[i]._id %>" data-index="<%= i %>"></div>
                    </div>
                </li>
            <% } %>
        </ul>
    <% }else {%>
    <% }%>

    

    <div id="mask">
        <div id="mask-content">
            <div class="panel panel-default">
                <div class="panel-heading">图片信息</div>
                <div class="panel-body">
                    <input type="text"  class="form-control" id="pageImgType" placeholder="输入图片分类">
                </div>
            </div>
            <label for="mask-pic" class="mask-upload">
                添加图片
            </label>
            <input type="file" name="pic" id="mask-pic">
            <img class="mask-picpng" src="/img/a.png" width="150" alt="上传图片">

            <button id="q">确定</button>

        </div>
    </div>
</div>


<script src="/y_mask/y_mask.js"></script>
<link rel="stylesheet" href="/y_mask/y_mask.css">
<script>
    let ymask = new yMask('#addbtn','#mask',)

    //上传content 图片
        $(document).ready(function () {
            $('.ul-imgboxs').on('click','.delbtn',function(e) {
                let data = {_id: $(e.target).data('value')}
                $.ajax(({
                    url:'pageProduct/pic',
                    type:'DELETE',
                    data:JSON.stringify(data),
                    async:true,
                    cache:false,
                    contentType:"application/json",
                    processData:false,
                    success:function(data) {
                        if(data.code === 200){
                            // let s = data.s
                            $(e.target).parentsUntil('.imgboxs').remove()
                        }else{
                            alert("成功  code不为200")
                        }
                    }
                }))
            })
            $('#q').click(function () {
                let file = document.getElementById('mask-pic');
                let formData = new FormData();
                formData.append('file',file.files[0]);
                $.ajax({
                    url:'pageProduct/addpic',
                    type:'POST',
                    data:formData,
                    async:true,
                    cache:false,
                    contentType:false,
                    processData:false,
                    success:function (data) {
                        if(data.code === 200){
                            console.log('img成功');
                            let upjson = {
                                "type":$('#pageImgType').val()
                            }
                            $.ajax({
                                url:'pageProduct/addtype',
                                type:'POST',
                                data:JSON.stringify(upjson),
                                async:true,
                                cache:false,
                                contentType:"application/json;charset=utf-8",
                                processData:false,
                                success:function (data){
                                    if(data.code === 200){
                                        console.log('type成功');
                                        let len = $('.imgboxs').length
                                        let str = '<li class="imgboxs">'+
                                            '<div class="imgbox">'+
                                            '<img  src="'+data.ops[0].path+'"  width="500" alt="">'+
                                            '<div class="delbtn iconfont icon-shanchu3"' +
                                            'data-value="'+data.ops[0]._id +'" data-index="' + (len) +'"></div>'+
                                            '</div>'+
                                            '</li>'
                                        $('.ul-imgboxs').append(str)
                                        ymask.clickEl2()
                                    }else{
                                        alert('上传失败')
                                    }
                                },
                                error:function (err){
                                    console.log('err',err);
                                }
                            })

                        }else{
                            alert('上传失败')
                        }

                    },
                    error:function (err){
                        console.log('err',err);
                    }
                })
            })
        })

    document.getElementById('mask-pic').onchange=function () {
        document.getElementById('q').style.display = 'block';
        document.getElementsByClassName('mask-picpng')[0].setAttribute('src',window.URL.createObjectURL(this.files[0]))
    }


</script>
</body>
</html>